<<<<<<< HEAD

{
=======
<<<<<<< HEAD
{
=======
* {
>>>>>>> 0b95246032f8122d9e7871a2a861ec38aca0c2a5
>>>>>>> fcc415940bb27f317a874f25c92fc3d95f6b9715
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
<<<<<<< HEAD

    background-color: #ffd700;
=======
    background-color: #009879;
>>>>>>> df678f01dbd659bf7556b42ce1b6496ce2b011fc
=======
<<<<<<< HEAD
    background-color: #404dbd;
=======
    background-color: #ffd700;
>>>>>>> 0b95246032f8122d9e7871a2a861ec38aca0c2a5
>>>>>>> fcc415940bb27f317a874f25c92fc3d95f6b9715
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
<<<<<<< HEAD

    background-color: #ffd700;
=======
    background-color: #f3f3f3;
>>>>>>> df678f01dbd659bf7556b42ce1b6496ce2b011fc
=======
<<<<<<< HEAD
    background-color: #f3f3f3;
=======
    background-color: #ffd700;
>>>>>>> 0b95246032f8122d9e7871a2a861ec38aca0c2a5
>>>>>>> fcc415940bb27f317a874f25c92fc3d95f6b9715
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}